appearance {
  font "Roboto"
  text-color "#ffffffff"
  text-background-color "#1a1a1aff"
  grid-cells-color "#ffffff20"
  grid-lines-color "#000000a0"
  background-color "#000000a0"
}
binds {
  left-click space
  middle-click 8
  right-click 9
  left h
  down j
  up k
  right l
  shrink i
  next-selection Return
  cancel-selection BackSpace
}
behavior {
  auto-click #true
}
